<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>noa needs accessibility access to detect global keyboard shortcuts.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>noa needs screen capture access to see and analyze what's on your screen when you ask.</string>
</dict>
</plist>
